*.classpath
/*.project
/.settings
/config/*.project
/config/.settings
*/.project
*.settings
*/.settings/
*/target/
/.idea
*.iml
/*.iml
*/*.iml
*.md5
/target/checkstyle-result.xml
/target/checkstyle-checker.xml
/target/checkstyle-cachefile
/target/
